repos:
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        args: [--line-length=120]
        stages: [pre-commit]
  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: [--line-length=120]
        stages: [pre-commit]
  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        args: [--max-line-length=120]
        stages: [pre-commit]
  # Temporarily disabled to focus on formatting and linting first
  # - repo: https://github.com/microsoft/pyright
  #   rev: v1.1.300
  #   hooks:
  #     - id: pyright 